---
layout: default
---
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

    {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2>{{ page.list_title }}</h2>
    {%- endif -%}
    <ul>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <h2>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>


        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <code>{{ post.date | date: date_format }}</code>
      </li>
      {%- endfor -%}
    </ul>


  {%- endif -%}
